<div>
  <table class="table table-dark">
    <thead>
      <tr>
        <td scope="col">#</td>
        <td scope="col">Nombre</td>
        <td scope="col">Género</td>
        <td scope="col">Altura</td>
        <td scope="col">Peso</td>
        <td scope="col">Color de ojos</td>
        <td scope="col">Guardar</td>
      </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
  </table>
  <div style="text-align: center">
    <button type="button" class="btn btn-primary" id="seeMore">"ver más"</button>
  </div>
</div>